*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: crosshair;
}

body{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #ffb6c1, #ffc0cb);
    display: flex;
}

#canvas{
    border: 2px solid black;
    background-color: transparent;
    display: flex;
    position: fixed;
}

.herramientas{
    width: 250px;
    height: 615px;
    margin: 0 10px;
    border: 2px solid black;
    background-color: #fff;
    display: flex;
}

.capas{
    width: 250px;
    height: 615px;
    margin: 0 10px;
    border: 2px solid black;
    background-color: #fff;
    display: flex;
}

#canvaslimpio{
    background-color: white;
    border: 2px solid red;
}