body {
    background: linear-gradient(to bottom right, #ffb6c1, #ffc0cb);
}

canvas {
    margin-top:1%;
    border-radius: 1%; 
    background-color:#ffffff;
}


input[type="color"] {
    border-radius: 5%; 
    width: 35px;
    height: 35px;
    border: none;
    
}

img{
    width: 50px;
}

.form-control{
    width: 50%;
}

.Figuras {
    background:linear-gradient(top, red, gold);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.Boton_Seleccion{
    margin-right: 10px;
    background-color: #fff;
    border-radius: 8%;
    border-color: #D2B4DE;
}
